/*Import fonts from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&family=Open+Sans&display=swap');

/*Set default styling*/
* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/*Set a background image to body incase video doesnt load, also add font family for body" */
body {
    /*background-image: url("../images/backgroundpic-quiz.webp");
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;*/
    font-family: "Open Sans", sans-serif;
    color: #2B2B2B;
}

/*---Headings---*/
/*Heading for throughout game*/
.quiz-heading {
    text-align: center;
    top: 1.5rem; 
    /*margin-top: 1rem;*/
    font-family: "noto serif",sans-serif;
    /*Learnt to style heading here: https://blog.logrocket.com/five-cool-css-header-styles-with-cross-browser-compatibility/*/
    
    -webkit-background-clip: text;
    background-image: linear-gradient(45deg, #faf9f6, #ff9f00 50%);
    color: transparent;
    font-size: 2rem;
    position:relative;
    z-index: 1;
    padding:1rem;
}
h2 {
    font-family: "noto serif",sans-serif;
}

/*The sections*/
#gameover-area, #game-page, #how-to-play, #error-page { 
    /*Learnt about radial gradients here https://www.w3schools.com/css/css3_gradients_radial.asp*/
    background: radial-gradient(  rgba(255,159,0, 1),rgba(255,159,0,0.3));
    margin: 1rem auto;
    text-align: center;
    padding: 0.5rem;
    border-radius: 2rem;
    position: absolute;
    top: 50%;
    width:80%;
    left:50%;
   transform: translate(-50%, -50%);
   display:flex;
   flex-direction: column;
   justify-content: space-evenly;

   
   
}
#home-page {
    
    background-image: linear-gradient(45deg, #faf9f6, #ff9f00 60%);
    color: transparent;
    margin: 1rem auto;
    text-align: center;
    padding: 0.5rem;
    border-radius: 2rem;
    position: absolute;
    top: 50%;
    width:80%;
    left:50%;
   transform: translate(-50%, -50%);
   display:flex;
   flex-direction: column;
   justify-content: space-evenly;
   z-index: 2;
   

}

/*Home page description for user*/
#description { 
    font-weight: bold;
    color: #2B2B2B;
    padding-top: 0.5rem;
    /*text-shadow: 0 0 3px #2B2B2B, 0 0 5px #2B2B2B;*/
}
#home-question {
    font-size: 1rem;
}

/*How to play section content*/
#how-to-play {
    display:none
}

#how-to-play h2, #error-page h2{
    color: #2B2B2B;
    text-shadow: 0 0 3px #faf9f6, 0 0 5px #faf9f6;
}
#how-to-play-info, #error-page div{
    /*background:  radial-gradient(  rgba(250,249,246,5),rgba(250,249,246,0.1));*/
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#how-to-play p, #error-page p{
    padding:0.5rem;
    font-weight: bold;
    font-size: 0.75rem;
}
#how {
    font-size: 1rem;
    color: #FF9F00;
    padding:0.5rem;
    background-color: rgba(43, 43, 43, 0.8);
    border-radius: 2rem;
    /*border: 0.125rem solid #faf9f6;*/
    margin-top: 1rem;
    border-style: outset;
    text-shadow: none;
}
#how:hover {
    
    box-shadow:0 4px 8px 0 #faf9f6, 0 6px 20px 0 #faf9f6 ;
    cursor: pointer;
    

}

/*#go-back {
    font-size: 1rem;
    color: #faf9f6;
    padding:0.5rem;
    background-color: #FF9F00;
    border-radius: 0.5rem;
    border: 0.125rem solid #faf9f6;
    margin-top: 1rem;
    border-style: outset;
}
#go-back:hover{
    background-color:  rgba(255,159,0, 0.7);
    cursor: pointer;
}*/

/* input element to enter username and div that shows validation messages when needed*/
.username-div {
    font-size: 1rem; 
    font-weight: bold;
    background-color: rgba(43, 43, 43, 0.2);
    padding: 1rem;
    margin: 1rem;
    border-radius: 2rem;
}
.username-div label {
    color: #2B2B2B;
}
#username {
    width: 9rem;
    height:2rem;
    border: 0.125rem solid #2B2B2B;
}
#username:hover {
    background-color: rgba(250,249,246, 0.7);
    border: 0.125rem solid #FF9F00;
}

#username:focus {
    background-color: #faf9f6;
    border: 0.125rem solid #FF9F00;
}
#validation {
    font-size: 0.75rem;
    font-style: italic;
    color: #2B2B2B;
}

/* Main Buttons*/
.play, #playagain, #go-back {
    font-size: 1rem;
    color: #2B2B2B;
    padding:0.5rem;
    background-color: #FF9F00;
    border-radius: 2rem;
    /*border: 0.125rem solid #faf9f6;*/
    margin: 0.5rem;
    border-style: outset;
}

/*Button hover effects*/
.play:hover, #playagain:hover, #go-back:hover {
    background-color:  rgba(255,159,0, 0.8);
    box-shadow:0 4px 8px 0 #faf9f6, 0 6px 20px 0 #faf9f6 ;
    cursor: pointer;
}

/*displayed this div as flexbox to make the children responsive*/
.score-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1rem;
    /*background-color: rgba(193,193,193,0.9);*/
    /*border: 0.125rem solid #faf9f6;*/
    /*background-color: #FF9F00;*/
    
    /*padding:0.25rem;*/
   /* background:  radial-gradient(  rgba(193,193,193,5),rgba(193,193,193,0.1));*/
    border-radius: 0.5rem;
}
.score-container p {
    /*color: #faf9f6;*/
    padding:0.25rem;
    
    /*padding:0.25rem;*/
    /*border-bottom: 0.125rem solid #faf9f6;/
    /*border-radius: 0.5rem;*/
    margin: 0.5rem;
   /* background:  radial-gradient(  rgba(193,193,193,5),rgba(193,193,193,0.1));*/
    width:42%;
    color: #FF9F00;
    background-color: rgba(43, 43, 43, 0.8);
    font-size: 0.8rem;
    border-radius: 0.5rem;
    border: 0.125rem solid #faf9f6;
    
    
}
.score-container span {
    color: #faf9f6;
}

/*Questions/statements displayed*/
#questions {
    font-family: "noto serif",sans-serif;
    color: #2B2B2B;
    /*text-shadow: 0 0 3px #2B2B2B, 0 0 5px #2B2B2B;*/
    font-size: 1rem;
    font-weight: bold;
    text-shadow: 0 0 3px #faf9f6, 0 0 5px #faf9f6;
}

/*Buttons with answers*/
.answer-btn {
    display:flex;
    flex-direction: column;
    justify-content: space-around;

}
.answer-btn button {
    margin:0.5rem;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: #2B2B2B;
    background:  radial-gradient(  rgba(250,249,246,1),rgba(250,249,246,0.4));
    border-style: outset;
}
.answer-btn button:hover {
    color:rgba(43, 43, 43, 0.7) !important;
    box-shadow:0 4px 8px 0 #FF9F00, 0 6px 20px 0 #FF9F00 !important;
    border-style: inset !important;
}

/*set these pages to none, this will be changed in functions in javascript file*/
#game-page, #gameover-area {
    display: none;
}
#gameover-area {
    text-align: center;
    font-size: 1rem;
    /* color: #faf9f6; */
    /*margin: 5rem 4rem;*/
    
}

#no-time-left {
    font-weight: bold;
    color: #FF9F00;
    padding:1rem;
    margin:2rem;
    position:relative;
    text-align: center;
    text-shadow: 0 0 3px #2B2B2B, 0 0 5px #2B2B2B;
}
#gameover-heading {
    font-size: 1.25rem; 
    text-shadow: 0 0 3px #faf9f6, 0 0 5px #faf9f6;
    border-radius: 0.5rem;
}

#results {
    /*background: radial-gradient(  rgba(193,193,193,5),rgba(193,193,193,0.1));*/
    border-radius: 1rem;
    margin:0.5rem;
}

#show-score {
    font-weight: bold;
}

/*Background video for the whole page*/
#video {
    /*min-width: 100%;
    height: 50rem;
    object-fit: cover;
    position: fixed;
    top: 0;
    bottom: 0;*/
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    /* top: 0; */
    bottom: 0;
}
#copyright {
    /*position:relative;
    text-align: center;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(45deg, #faf9f6, #ff9f00);
    color: transparent;
    font-size: 0.75rem;
    padding-bottom: 0.5rem;*/
    position: fixed;
    text-align: center;
    /* margin: 2rem; */
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    
    -webkit-background-clip: text;
    background-image: linear-gradient(45deg, #faf9f6, #ff9f00 60%);
    color: transparent;
    font-size: 0.75rem;
    width: 100%;
    padding:0.5rem;
    
}
/*Tablets*/
@media screen and (min-width: 481px){
    
    .quiz-heading {
        font-size: 2.5rem;
    }/*
    #home-question {
        font-size: 1.25rem;
    }
    #description {
        font-size: 1.25rem;
    }*/
    .play, #playagain, #go-back, #how{
        margin:0.5rem;
    }/*
    .score-container p{
        font-size: 1rem;
    }*/
    #questions {
        padding-bottom: 0.5rem;
    }/*
    .answer-btn button{
        font-size: 1.25rem;
    }*/
    .gameover{
        font-size: 1.5rem;
        
    }
    #gameover-heading {
        font-size:1.75rem;
        
    }
    #how-to-play-info{
        margin:1rem;
    }
    #how-to-play-info p{
        font-size: 1rem;
    }
    #how-to-play>div{
       
    }
    #results {
        padding: 1rem;
    }
    #home-page, #gameover-area, #game-page, #how-to-play{   
        padding: 1rem;
        
    }
    #copyright {
        
        font-size: 1.125rem;
        
        
    }

}

/*Breakpoint for small screens and laptop*/
@media screen and (min-width: 768px){
    .quiz-heading {
        font-size: 3.5rem;
        top:1rem;
    }
    #description {
        font-size:1.25rem;
    }
    #home-question {
        font-size:1.25rem;
    }
    .play, #playagain, #go-back, #how{
        font-size: 1.25rem;
    }
    #how-to-play h2{
        font-size: 2rem;
    }
    #how-to-play p{
        font-size: 1.25rem;
    }/*
    .username-div{
        padding: 2rem;
    }*/
    .username-div {
        width:60%;
        margin:1rem auto;
        padding:2rem;
    }/*
    #username {
        width: 11rem;
        border: 0.125rem solid #2B2B2B;
        font-size: 1.5rem;
    }
    .username-div label {
        font-size: 1.25rem;
    }*/
    .score-container {
        flex-wrap: nowrap;
        padding:0.5rem;
    }
    .score-container p {
        font-size: 1.25rem;
    }
    .answer-btn {
        flex-direction: row;
        margin:2rem;
    }
    .answer-btn button {   
        font-size: 1.5rem;
        padding:1rem;
        width: 45%;
    }
    #questions {
        font-size: 1.75rem;
        padding-bottom:0;
    }
    .score-container p {
        font-size: 1.125rem;
        margin:0.25rem;
    }/*
    #home-page, #gameover-area, #game-page, #how-to-play {
        width: 45rem;
        margin: 1rem auto;   
    }*/
    .gameover{
        font-size: 1.75rem;
        
    }
    #gameover-heading {
        font-size:2rem;
        
    }
}
/*Breakpoint for desktop and larger screens*/
@media screen and (min-width: 1024px){
    .quiz-heading {
        font-size: 4rem;
    }
    #description {
        font-size:1.5rem;
    }
    #home-question {
        font-size:1.5rem;
    }
    .play, #playagain, #go-back, #how{
        font-size: 1.5rem;
    }/*
    #description {
        font-size:1.5rem;
    }
    #home-question {
        font-size:1.5rem;
    }
    .quiz-heading {
        font-size: 3rem;
    }*/
    
    #username {
        width: 11rem;
        height: 2.5rem;
    }
    .username-div label {
        font-size: 1.25rem;
    }
    
    .username-div {
        width:60%;
        margin:1rem auto;
        padding:2rem;
    }
    #how-to-play h2{
        font-size: 2.5rem;
    }/*
    #how-to-play p{
        font-size: 1.5rem;
    }
    */
    .score-container p {
        font-size: 1.5rem;
    }
    
    .answer-btn button { 
        font-size: 2rem;
        

    }
    #questions {
        font-size: 2rem;
    }
    #no-time-left {
        bottom:1rem;
        color: #FF9F00;
    }
    #home-page, #gameover-area, #game-page, #how-to-play {
        max-width: 50rem;
        
        
    }/*
    .gameover{
        font-size: 1.75rem;
        padding:1rem;
    }*/
    #gameover-heading {
        font-size:2.5rem;
        
    }
}
/*
/*Breakpoint for xxx large screens or tv*/
@media screen and (min-width: 1200px){
    /*.play, #playagain, #go-back, #how{
        font-size: 2rem;
    }
    #description {
        font-size:1.75rem;
    }
    #home-question {
        font-size:1.75rem;
    }
    
    #username {
        width: 15.5rem;
        height: 3rem;
    }
    .username-div label {
        font-size: 1.75rem;
    }
    #how-to-play p{
        font-size: 1.75rem;   
    }
    .score-container p {
        font-size: 2rem;
    }
    .answer-btn button {
        font-size: 2rem; 
    }
    #questions {
        
    }
    #home-page, #gameover-area, #game-page, #how-to-play {
        width: 65rem;   
    }
    .gameover{
        font-size: 2rem;
    }

}*/