@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&family=Open+Sans&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-image: url("../images/backgroundpic-quiz.webp");
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    font-family: "Open Sans", sans-serif;
    color: #2B2B2B;
}

.quiz-heading {
    text-align: center;
    /* top: 1rem; */
    margin-top: 3rem;
    font-family: "noto serif",sans-serif;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(45deg, #faf9f6, #ff9f00);
    color: transparent;
    font-size: 3rem;
    position:relative;
    z-index: 1;
    
}
h2 {
    font-family: "noto serif",sans-serif;
}

#home-page, #gameover-area, #game-page, #how-to-play {
    
    background: radial-gradient(  rgba(255,159,0,5),rgba(255,159,0,0.3));
    margin: 2rem;
    text-align: center;
    padding: 1rem;
    border-radius: 0.5rem;
    position: relative;
    
}
#description {
    
    font-weight: bold;
    color: #faf9f6;
    text-shadow: 0 0 3px #2B2B2B, 0 0 5px #2B2B2B;
}
#home-question {
    font-size: 1rem;
}
#how-to-play {
    display:none
}
#how-to-play h2{
    color: #faf9f6;
    text-shadow: 0 0 3px #2B2B2B, 0 0 5px #2B2B2B;
}
#how-to-play p{
    background:  radial-gradient(  rgba(250,249,246,5),rgba(250,249,246,0.1));
    border-radius: 0.5rem;
}
#home-page a:hover{
    color:#FF9F00;
}
/*#go-back {
    font-size: 1rem;
    color: #faf9f6;
    padding:0.5rem;
    background-color: #FF9F00;
    border-radius: 0.5rem;
    border: 0.125rem solid #faf9f6;
    margin-top: 1rem;
    border-style: outset;
}
#go-back:hover{
    background-color:  rgba(255,159,0, 0.7);
    cursor: pointer;
}*/
.username-div {
    font-size: 1rem;
    margin-bottom: 2rem;
    
    font-weight: bold;
    background:  radial-gradient(  rgba(250,249,246,5),rgba(250,249,246,0.1));
    
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    
}
#username {
    width: 9rem;
    height:2rem;
    border: 0.125rem solid #2B2B2B;
}
#username:hover {
    background-color: rgba(250,249,246, 0.7);
    border: 0.125rem solid #FF9F00;
}

#username:focus {
    background-color: #faf9f6;
    border: 0.125rem solid #FF9F00;
}
#validation {
    font-size: 0.75rem;
    font-style: italic;
}
.play, #playagain, #go-back {
    font-size: 1.5rem;
    color: #faf9f6;
    padding:0.5rem;
    background-color: #FF9F00;
    border-radius: 2rem;
    /*border: 0.125rem solid #faf9f6;*/
    margin-top: 1rem;
    border-style: outset;
}
.play:hover, #playagain:hover, #go-back:hover {
    background-color:  rgba(255,159,0, 0.8);
    box-shadow:0 4px 8px 0 #faf9f6, 0 6px 20px 0 #faf9f6 ;
    cursor: pointer;
    
}

.button {
    color:#faf9f6;
    padding:0.25rem;
    font-size: 1.25rem;
}
.score-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1rem;
    /*background-color: rgba(193,193,193,0.9);*/
    /*border: 0.125rem solid #faf9f6;*/
    /*background-color: #FF9F00;*/
    
    /*padding:0.25rem;*/
    background:  radial-gradient(  rgba(250,249,246,5),rgba(250,249,246,0.4));
    border-radius: 0.5rem;
}
.score-container p {
    /*color: #faf9f6;*/
    padding:0.25rem;
    text-transform: uppercase;
    /*padding:0.25rem;*/
    /*border-bottom: 0.125rem solid #faf9f6;/
    /*border-radius: 0.5rem;*/
    width:45%;
    font-size: 0.8rem;
    
}
#questions {
    font-family: "noto serif",sans-serif;
    color: #faf9f6;
    text-shadow: 0 0 3px #2B2B2B, 0 0 5px #2B2B2B;
    font-size: 1rem;
    font-weight: bold;
    
}
.answer-btn {
    display:flex;
    flex-direction: column;
    justify-content: space-around;

}
.answer-btn button {
    margin:0.5rem;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 0.25rem solid #2B2B2B;
    
}
.answer-btn button:hover {
    border: 0.25rem solid rgba(43, 43, 43, 0.7);
    background-color: rgba(250,249, 246, 0.8);
    color:rgba(43, 43, 43, 0.7)
}

#game-page, #gameover-area {
    display: none;
}
#gameover-area {
    text-align: center;
    font-size: 1rem;
    
    /* color: #faf9f6; */
    /*margin: 5rem 4rem;*/
    
}
#no-time-left {
    font-weight: bold;
    color: #faf9f6;
    text-shadow: 0 0 3px #2B2B2B, 0 0 5px #2B2B2B;
}
#gameover-heading {
    font-size: 1.25rem;
    
    text-shadow: 0 0 3px #faf9f6, 0 0 5px #faf9f6;
    border-radius: 0.5rem;
}
#results {
    background:  radial-gradient(  rgba(250,249,246,5),rgba(250,249,246,0.4));
    border-radius: 0.5rem;
}
#show-score {
    font-weight: bold;
}
/*#playagain {
    font-size: 1.2rem;
    color: #faf9f6;
    padding:0.5rem;
    background-color: #FF9F00;
    border-radius: 0.5rem;
    border: 0.125rem solid #faf9f6;
    margin-top: 1rem;
    border-style: outset;
}
#playagain:hover {
    background-color:  rgba(255,159,0, 0.7);
    cursor: pointer;
}*/
#video {
    width: 100%;
    height: 50rem;
    object-fit: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    
}