/*Import fonts from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&family=Open+Sans&display=swap');

/*Set default styling*/
* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/*Set a background image to body incase video doesnt load, also add font family for body" */
body {
    font-family: "Open Sans", sans-serif;
    color: #2B2B2B;
}

/*---Headings---*/
/*Heading for throughout game*/
.quiz-heading {
    text-align: center;
    /*top: 1.5rem;*/
    font-family: "noto serif",sans-serif;
    /*Learnt to style heading here: https://blog.logrocket.com/five-cool-css-header-styles-with-cross-browser-compatibility/*/
    -webkit-background-clip: text;
    background-image: linear-gradient(45deg, #faf9f6, #ff9f00 50%);
    color: transparent;
    font-size: 2rem;
    position:relative;
    z-index: 1;
    padding:1rem;
}
h2 {
    font-family: "noto serif",sans-serif;
}

/*The sections*/
#gameover-area, #game-page, #how-to-play, #error-page { 
    /*Learnt about radial gradients here https://www.w3schools.com/css/css3_gradients_radial.asp*/
    background: radial-gradient(  rgba(255,159,0, 1),rgba(255,159,0,0.3));
    margin: 1rem auto;
    text-align: center;
    padding: 0.75rem;
    border-radius: 2rem;
    position: absolute;
    top: 50%;
    width:80%;
    left:50%;
    transform: translate(-50%, -50%);
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#home-page {
    background-image: linear-gradient(45deg, #faf9f6, #ff9f00 60%);
    color: transparent;
    margin: 1rem auto;
    text-align: center;
    padding: 0.5rem;
    border-radius: 2rem;
    position: absolute;
    top: 50%;
    width:80%;
    left:50%;
    transform: translate(-50%, -50%);
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 2;
}

/*Home page description for user*/
#description { 
    font-weight: bold;
    color: #2B2B2B;
    padding-top: 0.5rem;
}

#home-question {
    font-size: 1rem;
}

/*How to play section content*/
#how-to-play {
    display:none
}

#how-to-play h2, #error-page h2{
    color: #2B2B2B;
    text-shadow: 0 0 3px #faf9f6, 0 0 5px #faf9f6;
}

#how-to-play-info {
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#how-to-play p, #error-page p{
    padding-bottom:0.5rem;
    font-weight: bold;
    font-size: 0.75rem;
}
#how {
    font-size: 1rem;
    color: #FF9F00;
    padding:0.5rem;
    background-color: rgba(43, 43, 43, 0.8);
    border-radius: 2rem;
    margin-top: 1rem;
    border-style: outset;
    text-shadow: none;
}
#how:hover {
    box-shadow:0 4px 8px 0 #faf9f6, 0 6px 20px 0 #faf9f6 ;
    cursor: pointer;
}


/* input element to enter username and div that shows validation messages when needed*/
.username-div {
    font-size: 1rem; 
    font-weight: bold;
    background-color: rgba(43, 43, 43, 0.2);
    padding: 1rem;
    margin: 1rem;
    border-radius: 2rem;
}
.username-div label {
    color: #2B2B2B;
}
#username {
    width: 9rem;
    height:2rem;
    border: 0.125rem solid #2B2B2B;
}
#username:hover {
    background-color: rgba(250,249,246, 0.7);
    border: 0.125rem solid #FF9F00;
}

#username:focus {
    background-color: #faf9f6;
    border: 0.125rem solid #FF9F00;
}
#validation {
    font-size: 0.75rem;
    font-style: italic;
    color: #2B2B2B;
}

/* Main Buttons*/
.play, #playagain, .go-back {
    font-size: 1rem;
    color: #2B2B2B;
    padding:0.5rem;
    background-color: #FF9F00;
    border-radius: 2rem;
    /*border: 0.125rem solid #faf9f6;*/
    margin: 0.5rem;
    border-style: outset;
}

/*Button hover effects*/
.play:hover, #playagain:hover, .go-back:hover {
    background-color:  rgba(255,159,0, 0.8);
    box-shadow:0 4px 8px 0 #faf9f6, 0 6px 20px 0 #faf9f6 ;
    cursor: pointer;
}

/*displayed this div as flexbox to make the children responsive*/
.score-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}

.score-container p {
    padding:0.25rem;
    margin: 0.5rem;
    width:42%;
    color: #FF9F00;
    background-color: rgba(43, 43, 43, 0.8);
    font-size: 0.8rem;
    border-radius: 0.5rem;
    border: 0.125rem solid #faf9f6;
}
.score-container span {
    color: #faf9f6;
}

/*Questions/statements displayed*/
#questions {
    font-family: "noto serif",sans-serif;
    color: #2B2B2B;
    font-size: 1rem;
    font-weight: bold;
    text-shadow: 0 0 3px #faf9f6, 0 0 5px #faf9f6;
}
#answer-btn > .correctbtn {
    background: #226F54 ;

}
#answer-btn > .incorrectbtn {
    background: #E04C4C ;
}
.incorrect-shadow {
    box-shadow:0 4px 8px 0 #E04C4C, 0 6px 20px 0 #E04C4C;
}
.correct-shadow {
    box-shadow: 0 4px 8px 0 #226F54, 0 6px 20px 0 #226F54;
}
/*Buttons with answers*/
#answer-btn {
    display:flex;
    flex-direction: column;
    justify-content: space-around;

}
.answer {
    margin:0.5rem;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: #2B2B2B;
    background:  radial-gradient(  rgba(250,249,246,1),rgba(250,249,246,0.4));
    border-style: outset;
}

/* Hover effect set to !important because of javascript changes*/
.answer:hover {
    color:rgba(43, 43, 43, 0.7) ;
    box-shadow:0 4px 8px 0 #FF9F00, 0 6px 20px 0 #FF9F00 ;
    border-style: inset ;
    cursor: pointer ; 
}

/*set these pages to none, this will be changed in functions in javascript file*/
#game-page, #gameover-area {
    display: none;
}
#gameover-area {
    font-size: 1rem;
}

#no-time-left {
    font-weight: bold;
    color: #FF9F00;
    /*padding:1rem;
    margin:2rem;*/
    position:relative;
    text-align: center;
    text-shadow: 0 0 3px #2B2B2B, 0 0 5px #2B2B2B;
}
#gameover-heading {
    font-size: 1.25rem; 
    text-shadow: 0 0 3px #faf9f6, 0 0 5px #faf9f6;
    border-radius: 0.5rem;
}

#results {
    border-radius: 1rem;
    margin:0.5rem;
}

#show-score {
    font-weight: bold;
}

/*Background video for the whole page*/
#video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    bottom: 0;
}
#copyright {
    position: fixed;
    text-align: center;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-background-clip: text;
    background-image: linear-gradient(45deg, #faf9f6, #ff9f00 60%);
    color: transparent;
    font-size: 0.75rem;
    width: 100%;
    padding:0.5rem;
    
}
/*Tablets*/
@media screen and (min-width: 481px){
    
    .quiz-heading {
        font-size: 2.5rem;
    }
    #questions {
        padding-bottom: 0.5rem;
    }
    .gameover{
        font-size: 1.5rem;
        
    }
    #gameover-heading {
        font-size:1.75rem;
        
    }
    #how-to-play-info, #error-page div{
        margin:1rem;
    }
    #how-to-play-info p #error-page p{
        font-size: 1rem;
    }
    
    #results {
        padding: 1rem;
    }
    #home-page, #gameover-area, #game-page, #how-to-play, #error-page{   
        padding: 1rem;
        
    }
    #copyright {
        font-size: 1.125rem;
    }

}

/*Breakpoint for small screens and laptop*/
@media screen and (min-width: 768px){
    .quiz-heading {
        font-size: 3.5rem;
        /*top:1rem;*/
    }
    #description {
        font-size:1.25rem;
    }
    #home-question {
        font-size:1.25rem;
    }
    .play, #playagain, .go-back, #how{
        font-size: 1.25rem;
    }
    #how-to-play h2, #error-page h2{
        font-size: 2rem;
    }
    #how-to-play p, #error-page p{
        font-size: 1.25rem;
    }
    .username-div {
        width:60%;
        margin:1rem auto;
        padding:2rem;
    }
    .score-container {
        flex-wrap: nowrap;
        padding:0.5rem;
    }
    .score-container p {
        font-size: 1.25rem;
    }
    #answer-btn {
        flex-direction: row;
        margin:2rem;
    }
    .answer {   
        font-size: 1.5rem;
        padding:1rem;
        width: 45%;
    }
    #questions {
        font-size: 1.75rem;
        padding-bottom:0;
    }
    .score-container p {
        font-size: 1.125rem;
        margin:0.25rem;
    }
    .gameover{
        font-size: 1.75rem;
        
    }
    #gameover-heading {
        font-size:2rem;
        
    }
}
/*Breakpoint for desktop and larger screens*/
@media screen and (min-width: 1024px){
    .quiz-heading {
        font-size: 4.5rem;
    }
    #description {
        font-size:1.5rem;
    }
    #home-question {
        font-size:1.5rem;
    }
    .play, #playagain, .go-back, #how{
        font-size: 1.5rem;
    }
    #username {
        width: 11rem;
        height: 2.5rem;
    }
    .username-div label {
        font-size: 1.25rem;
    }
    
    #how-to-play h2, #error-page h2{
        font-size: 2.5rem;
    }
    .score-container p {
        font-size: 1.5rem;
    }
    
    .answer { 
        font-size: 2rem;
    }
    #questions {
        font-size: 2rem;
    }
    #no-time-left {
        bottom:1rem;
    }
    #home-page, #gameover-area, #game-page, #how-to-play, #error-page {
        max-width: 50rem;
        
        
    }
    #gameover-heading {
        font-size:2.5rem;
        
    }
}
