@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&family=Open+Sans&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-image: url("../images/backgroundpic-quiz.webp");
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    font-family: "Open Sans", sans-serif;
    color: #2B2B2B;
}

.quiz-heading {
    text-align: center;
    /* top: 1rem; */
    margin-top: 3rem;
    font-family: "noto serif",sans-serif;
    color: #faf9f6;
    font-size: 2rem;
    /*text-shadow: 0 0 5px #FF9F00, 0 0 5px #FF9F00;*/
}
h2 {
    font-family: "noto serif",sans-serif;
}

#home-page, #gameover-area, #game-page {
    
    background-color: rgba(250,249,246, 0.8);
    margin: 2rem;
    text-align: center;
    padding: 1rem;
    border-radius: 0.5rem;
    
}
.username-div {
    font-size: 1rem;
    margin-bottom: 2rem;
    
    font-weight: bold;
    background: linear-gradient(to right, rgba(250,249,246, 0.7), rgba(255,159,0,1));
    
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    
}
#username {
    width: 9rem;
    height:2rem;
    border: 0.125rem solid #2B2B2B;
}
#username:hover {
    background-color: rgba(250,249,246, 0.7);
    border: 0.125rem solid #FF9F00;
}

#username:focus {
    background-color: #faf9f6;
    border: 0.125rem solid #FF9F00;
}